.App {
  position: relative;
  text-align: center;
  justify-content: center;
  font-family: Rajdhani;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures the app takes full viewport height */
  width: 100vw; /* Ensures the app takes full viewport width */
  background-image: url(/public/magi.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center;
  overflow: hidden; /* Prevents scrolling */
}


.menu-box {
  /*background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header container style */

 /* .app-header-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
} */

/* Header style */
.app-header {
  font-size: 44px;
  color: #000000; /* Pastel purple */
  background: linear-gradient(45deg, #924e92, #FF69B4); /* Metallic purple/pink */
  -webkit-background-clip: text;
  text-shadow: 0 0 15px rgba(104, 29, 104, 0.8), 0 0 20px rgba(190, 55, 123, 0.6); /* LED-like effect */
  padding: 8px; /* Padding for spacing */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor for interaction */
  transition: transform 0.2s ease-in-out; /* Smooth transform on hover */
}

button {
  font-family: 'Rajdhani', sans-serif; /* Font family */
  font-size: 40px; /* Font size */
  font-weight: 600; /* Bold font weight */
  padding: 20px 20px; /* Padding for clickable area */
  margin-top: 30px;
  background-color: transparent; /* Transparent background */
  border: none; /* No border */
  color: linear-gradient(45deg, #924e92, #FF69B4);
  /* Box shadow for depth */
  border-radius: 6px; /* Slightly rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: color 0.3s ease, transform 0.2s ease-in-out; /* Smooth color change and transform */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Text shadow for emphasis */
  transform: translateY(1px);
  color: #FF1493 /* Pushes the button down slightly on click */
}

button:hover {
  color: #fd098b; /* Darker pink text color on hover */
  transform: scale(1.1); /* Slightly scale up on hover */
  
}
  
h1 {
  margin: 0;
  font-size: 2em;
}
/* Responsive styles */
@media (max-width: 768px) {
  .App {
    padding: 20px;
  }

  .app-header {
    font-size: 20px;
  }

  button {
    font-size: 16px;
    padding: 8px 16px;
  }

  h1 {
    font-size: 1.5em;
  }
}