.game-end-screen {
    display: flex;
    width: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
  }
  
  .game-end-screen h1 {
    margin-bottom: 20px;
  }
  
  .final-stats {
    margin-bottom: 20px;
  }
  
  .final-stats .stat {
    margin: 5px 0;
  }
  
  .mitigations-count {
    margin-bottom: 20px;
  }

  .back-menu-button-end{
    font-family: Rajdhani;
    font-size: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: transparent;

    color: #ff0088;
    transition: background-color 0.3s ease;
  }

  .credits-button{
    font-family: Rajdhani;
    font-size: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: transparent;

    color: #ff0088;
    transition: background-color 0.3s ease;
  }