.settings {
  padding: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
}

.slider-container {
  margin-top: 10px;
  width: 14%;
}

.slider {
  
  width: calc(100% - 20px); /* Arvestab siltide jaoks lisatud polstri ruumi (10px mõlemal küljel) */
}

.save-button,
.back-menu-button {
  font-family: Rajdhani;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #FF69B4;
  border: none;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.save-button:hover,
.back-menu-button:hover {
  background-color: #DDA0DD;
}

.save-confirmation {
  margin-top: 10px;
  font-size: 18px;
  color: #00FF00; /* Roheline värv, et näidata edukust */
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
