.stats {
  position: absolute;
 
  top: 8vh; /* Adjusted for a more centered position */
  left: 8vw; /* Adjusted for left-side positioning */
  padding: 3vh; /* Increased padding for more space inside the stats box */
  color:  #ff0088;;
  font-weight: bold;
   /* Increased font size for better readability */
 
}


.stats div {
  font-size: 3.25vh;
  margin-bottom: 1.5vh; /* Increased margin for better spacing between stats */
}

/* Responsive styles */
@media (max-width: 768px) {
  .stats {
    top: 5vh;
    right: 5vw;
    padding: 2vh;
    font-size: 2vh;
  }
}
